body {font-family: courier, Helvetica, sans-serif;
      background-color: #000000;
      text-align: center;}
h1 {color: #FFFFFF;}
h2 {color: #FF0000;}
h3 {color: #00FF00;}
p {color: #FFFFFF;
   margin-left: 25%;
   margin-right: 25%;}
ul, ol {color: #FFFFFF;
   text-align: center;
   list-style-position: inside;}
table, th, td {color: #00FF00;
               border: 1px solid white;}
td {color: #FFFFFF;}
table.center {margin-left:auto;
              margin-right:auto;}
.link {color: #00FF00; }
.link:hover {color: #FF0000; }
