body {
  background-color:#c5e8d1; margin-left:10%; margin-right:10%; font-family:Garamond;
}
h1 {
  color: #16291d;
}
h2 {
  color: #2d3b31;
}
a {
  color: #003366; text-decoration:none;
}
a:hover {
  color: #003366; text-decoration:underline;
}
a:visited {
  color: #660066; text-decoration:none;
}
table {
  border-collapse: collapse; border-color: #0a0a0a;
}
